---
title: Welcome to Middleman
---

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">Middleman</title>
  <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
  <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
  <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
  <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
  <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
  <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
</svg> -->

<!-- <h1>
  Middleman is Running
</h1> -->

<%# link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>


<button class="accordion yellow">
  <div class="title">
    <%= link_to image_tag('logo.svg') %>
    The Monocle Guide<br>To Better Living
  </div>
  <div class="book-collection">
    <%= link_to image_tag('icons.svg') %>
    <p class="lead">Monocle <br>Book <br>Collection</p>
    <%= link_to image_tag('owl.svg') %>
  </div>
</button>
<div class="panel yellow">
  <div class="text-details">
    <h3>Details & care</h3>
    <ul>
      <li><b>Features:</b> 340 pages, linen hard cover</li>
      <li><b>Published by:</b> Gestalten</li>
      <li><b>Printed in:</b> Germany</li>
      <li><b>Dimensions:</b> 20cm x 26.5cm x 3cm
      <br>(7.9in x 10.4in x 1.2in)</li>
      <li><b>ISBN:</b> 12345678910</li>
    </ul>
  </div>
  <div class="text-content">
    <h3>Description</h3>
    <p>The Monocle Guide to Drinking & Dining is for anybody who enjoys food but can do without the foam, fuss and trickery
      it’s often served with. It’s more than just food that makes a great meal though: we also offer tips on how to host,
      where to source the best produce and how to handle the sharpest kitchen kit. Alongside reports on the freshest markets,
      shops and producers, we’ve been everywhere from Adelaide to Zürich to put together our rundown of the world’s must-visit
      restaurants. Eating and drinking well should be a daily ritual and our guide offers tips to get the most out of it,
      whether you’re just nipping out for a bite or entertaining guests. Hungry for more? Do tuck in.
      <br><br>Our 340-page guide
      features original photography and illustrations printed on a selection of great papers and bound with a linen cover.
      Published by Gestalten. Gestalten is a Berlin-based publisher and produces high-quality editions in an environmentally
      friendly and resource-efficient manner.
    </p>
  </div>
</div>



<button class="accordion cream">
  <div class="title">
    <%= link_to image_tag('logo.svg') %>
    The Monocle Guide<br>To Good Business
</div>
  <div class="book-collection">
    <%= link_to image_tag('icons.svg') %>
    <p class="lead">Monocle <br>Book <br>Collection</p>
    <%= link_to image_tag('owl.svg') %>
  </div>
</button>
<div class="panel cream">
  <div class="text-details">
    <h3>Details & care</h3>
    <ul>
      <li>Features: 340 pages, linen hard cover</li>
      <li>Published by: Gestalten</li>
      <li>Printed in: Germany</li>
      <li>Dimensions: 20cm x 26.5cm x 3cm
      (7.9in x 10.4in x 1.2in)</li>
      <li>ISBN 12345678910</li>
    </ul>
  </div>
  <div class="text-content">
    <h3>Description</h3>
    <p>The Monocle Guide to Drinking & Dining is for anybody who enjoys food but can do without the foam, fuss and trickery
      it’s often served with. It’s more than just food that makes a great meal though: we also offer tips on how to host,
      where to source the best produce and how to handle the sharpest kitchen kit. Alongside reports on the freshest markets,
      shops and producers, we’ve been everywhere from Adelaide to Zürich to put together our rundown of the world’s must-visit
      restaurants. Eating and drinking well should be a daily ritual and our guide offers tips to get the most out of it,
      whether you’re just nipping out for a bite or entertaining guests. Hungry for more? Do tuck in. Our 340-page guide
      features original photography and illustrations printed on a selection of great papers and bound with a linen cover.
      Published by Gestalten. Gestalten is a Berlin-based publisher and produces high-quality editions in an environmentally
      friendly and resource-efficient manner.
    </p>
  </div>
</div>



<button class="accordion navy">
  <div class="title white">
    <%= link_to image_tag('logo-white.svg') %>
    How To Make A Nation<br>A Monocle Guide
  </div>
  <div class="book-collection">
    <%= link_to image_tag('icons.svg') %>
    <p class="lead">Monocle <br>Book <br>Collection</p>
    <%= link_to image_tag('owl.svg') %>
  </div>
</button>
<div class="panel navy">
  <div class="text-details">
    <h3>Details & care</h3>
    <ul>
      <li>Features: 340 pages, linen hard cover</li>
      <li>Published by: Gestalten</li>
      <li>Printed in: Germany</li>
      <li>Dimensions: 20cm x 26.5cm x 3cm
      (7.9in x 10.4in x 1.2in)</li>
      <li>ISBN 12345678910</li>
    </ul>
  </div>
  <div class="text-content">
    <h3>Description</h3>
    <p>The Monocle Guide to Drinking & Dining is for anybody who enjoys food but can do without the foam, fuss and trickery
      it’s often served with. It’s more than just food that makes a great meal though: we also offer tips on how to host,
      where to source the best produce and how to handle the sharpest kitchen kit. Alongside reports on the freshest markets,
      shops and producers, we’ve been everywhere from Adelaide to Zürich to put together our rundown of the world’s must-visit
      restaurants. Eating and drinking well should be a daily ritual and our guide offers tips to get the most out of it,
      whether you’re just nipping out for a bite or entertaining guests. Hungry for more? Do tuck in. Our 340-page guide
      features original photography and illustrations printed on a selection of great papers and bound with a linen cover.
      Published by Gestalten. Gestalten is a Berlin-based publisher and produces high-quality editions in an environmentally
      friendly and resource-efficient manner.
    </p>
  </div>
</div>



<button class="accordion coral">
  <div class="title white">
    <%= link_to image_tag('logo-white.svg') %>
    The Monocle Guide<br>To Cozy Homes
  </div>
  <div class="book-collection">
    <%= link_to image_tag('icons.svg') %>
    <p class="lead">Monocle <br>Book <br>Collection</p>
    <%= link_to image_tag('owl.svg') %>
  </div>
</button>
<div class="panel coral">
  <div class="text-details">
    <h3>Details & care</h3>
    <ul>
      <li>Features: 340 pages, linen hard cover</li>
      <li>Published by: Gestalten</li>
      <li>Printed in: Germany</li>
      <li>Dimensions: 20cm x 26.5cm x 3cm
      (7.9in x 10.4in x 1.2in)</li>
      <li>ISBN 12345678910</li>
    </ul>
  </div>
  <div class="text-content">
    <h3>Description</h3>
    <p>The Monocle Guide to Drinking & Dining is for anybody who enjoys food but can do without the foam, fuss and trickery
      it’s often served with. It’s more than just food that makes a great meal though: we also offer tips on how to host,
      where to source the best produce and how to handle the sharpest kitchen kit. Alongside reports on the freshest markets,
      shops and producers, we’ve been everywhere from Adelaide to Zürich to put together our rundown of the world’s must-visit
      restaurants. Eating and drinking well should be a daily ritual and our guide offers tips to get the most out of it,
      whether you’re just nipping out for a bite or entertaining guests. Hungry for more? Do tuck in. Our 340-page guide
      features original photography and illustrations printed on a selection of great papers and bound with a linen cover.
      Published by Gestalten. Gestalten is a Berlin-based publisher and produces high-quality editions in an environmentally
      friendly and resource-efficient manner.
    </p>
    <div class="img-row"> 
      <img src="https://img.monocle.com/gallery/20171101-monocle-web-books-02-5be9ad92dc5e0.jpg?w=1000&g=center&ratio=3-4&q=75&dpr=2"/>
      <img src="https://img.monocle.com/gallery/monocle-guide-to-cosy-homes-04-55d5c2ceabd65.jpg?w=1000&g=center&ratio=3-4&q=75&dpr=2" alt="">
    </div>
  </div>
</div>



<button class="accordion wine">
  <div class="title">
    <%= link_to image_tag('logo.svg') %>
    The Monocle Guide<br>To Drinking & Dining
  </div>
  <div class="book-collection">
    <%= link_to image_tag('icons.svg') %>
    <p class="lead">Monocle <br>Book <br>Collection</p>
    <%= link_to image_tag('owl.svg') %>
  </div>
</button>
<div class="panel wine">
  <div class="text-details">
    <h3>Details & care</h3>
    <ul>
      <li>Features: 340 pages, linen hard cover</li>
      <li>Published by: Gestalten</li>
      <li>Printed in: Germany</li>
      <li>Dimensions: 20cm x 26.5cm x 3cm
      (7.9in x 10.4in x 1.2in)</li>
      <li>ISBN 12345678910</li>
    </ul>
  </div>
  <div class="text-content">
    <h3>Description</h3>
    <p>The Monocle Guide to Drinking & Dining is for anybody who enjoys food but can do without the foam, fuss and trickery
      it’s often served with. It’s more than just food that makes a great meal though: we also offer tips on how to host,
      where to source the best produce and how to handle the sharpest kitchen kit. Alongside reports on the freshest markets,
      shops and producers, we’ve been everywhere from Adelaide to Zürich to put together our rundown of the world’s must-visit
      restaurants. Eating and drinking well should be a daily ritual and our guide offers tips to get the most out of it,
      whether you’re just nipping out for a bite or entertaining guests. Hungry for more? Do tuck in. Our 340-page guide
      features original photography and illustrations printed on a selection of great papers and bound with a linen cover.
      Published by Gestalten. Gestalten is a Berlin-based publisher and produces high-quality editions in an environmentally
      friendly and resource-efficient manner.
    </p>
  </div>
</div>



<button class="accordion sea">
  <div class="title white">
    <%= link_to image_tag('logo-white.svg') %>
    The Monocle Guide<br>Building Better Cities
  </div>
  <div class="book-collection">
    <%= link_to image_tag('icons.svg') %>
    <p class="lead">Monocle <br>Book <br>Collection</p>
    <%= link_to image_tag('owl.svg') %>
  </div>
</button>
<div class="panel sea">
  <div class="text-details">
    <h3>Details & care</h3>
    <ul>
      <li>Features: 340 pages, linen hard cover</li>
      <li>Published by: Gestalten</li>
      <li>Printed in: Germany</li>
      <li>Dimensions: 20cm x 26.5cm x 3cm
      (7.9in x 10.4in x 1.2in)</li>
      <li>ISBN 12345678910</li>
    </ul>
  </div>
  <div class="text-content">
    <h3>Description</h3>
    <p>The Monocle Guide to Drinking & Dining is for anybody who enjoys food but can do without the foam, fuss and trickery
      it’s often served with. It’s more than just food that makes a great meal though: we also offer tips on how to host,
      where to source the best produce and how to handle the sharpest kitchen kit. Alongside reports on the freshest markets,
      shops and producers, we’ve been everywhere from Adelaide to Zürich to put together our rundown of the world’s must-visit
      restaurants. Eating and drinking well should be a daily ritual and our guide offers tips to get the most out of it,
      whether you’re just nipping out for a bite or entertaining guests. Hungry for more? Do tuck in. Our 340-page guide
      features original photography and illustrations printed on a selection of great papers and bound with a linen cover.
      Published by Gestalten. Gestalten is a Berlin-based publisher and produces high-quality editions in an environmentally
      friendly and resource-efficient manner.
    </p>
  </div>
</div>

<button class="accordion rgblue">
  <div class="title white">
    Who done dis?<br>Jovan Velkoski
  </div>
  <div class="book-collection">
    <%= link_to image_tag('icons.svg') %>
    <p class="lead">Monocle <br>Book <br>Collection</p>
    <%= link_to image_tag('owl.svg') %>
  </div>
</button>
<div class="panel sea">
  <div class="text-details">
    <h3>Details & care</h3>
    <ul>
      <li>Features: Design and illustrations</li>
      <li>Origin: Macedonia & Sweden</li>
      <li>Dimensions: 170cm, 69kg, Green eyes</li>
      <li>Enjoys: Treats, sunshine and italian sunglasses</li>
    </ul>
  </div>
  <div class="text-content">
    <h3>Description</h3>
    <p>Hi! My name is Jovan, designer from Macedonia / Sweden who did this site because of my love of all things Monocle related.
      It started as a design and code excercise which snowballed and the site basically designed and coded itself!
      If you are wondering why I did all of this it was mainly to showcase the Monocle books in a different format and give it more personality
      than a digital book store would. I love print and I feel what makes it so unique is the craftmanship that goes with it!
      So my challenge was to craft something with design and code to present the print medium.
    </p>
    <h3>Disclaimer</h3>
    <p> I do not own any of the trademarks or logos related to Monocle. All intellectual property belongs to Monocle. <br>
      This website is a tribute and was not made for profit. If you like these books, please make sure to visit Monocle's own bookshop to get hold of your own copy!
    </p>
  </div>
</div>
